/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/venv
/lambda_function.zip
output.json
lambda_package/*
!/lambda_package/lambda_function.py
!/lambda_package/gpt_functions.py
!/lambda_package/database_connect.py
!/lambda_package/location_operations.py
!/lambda_package/sql_operations.py
!/lambda_package/requirements.txt
!/lambda_package/database_check.py
.find_nearest_location.py
.generate_gpt_response.py

dataset